dec/dec.pyc
dec/exp/test/save_iter_100.caffemodel
dec/exp/test/save_iter_100.solverstate
dec/exp/test/save_iter_160.caffemodel
dec/exp/test/save_iter_160.solverstate
dec/init.caffemodel
dec/mnist_test/
dec/mnist_total/
dec/mnist_train/
dec/train_weight/
mnist/t10k-images-idx3-ubyte
mnist/t10k-labels-idx1-ubyte
mnist/train-images-idx3-ubyte
mnist/train-labels-idx1-ubyte
*.caffemodel
*.solverstate
dec/exp/mnist/save_iter_100000.caffemodel
dec/20news*
dec/cifar*
dec/reuters*
reuters/*
cifar10/*
dec/exp/reutersidf/*
